<!-- Including InstantSearch.js library and styling -->
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<link rel="stylesheet" type="text/css"
      href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.css">
<link rel="stylesheet" type="text/css"
      href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch-theme-algolia.min.css">

<script>
    // Instanciating InstantSearch.js with Algolia credentials
    const search = instantsearch({
        appId: '{{ site.algolia.application_id }}',
        indexName: '{{ site.algolia.index_name }}',
        apiKey: '{{ site.algolia.search_only_api_key }}'
    });

    // Adding searchbar and results widgets
    search.addWidget(
        instantsearch.widgets.searchBox({
            container: '#search-searchbar',
            placeholder: 'Search into posts...',
            poweredBy: true, // This is required if you're on the free Community plan
        })
    );

    const hitTemplate = function (hit) {
        return `<article class="post-card home-template no-image">
            <a class="post-card-content-link" href="${hit.url}" style="flex: 1;">
                <header class="post-card-header">
                    <span class="post-card-tags">${hit.tags.join("<br>")}</span>
                    <h2 class="post-card-title">${hit.title}</h2>
                </header>
                <section class="post-card-excerpt">
                    <p>${hit.content}</p>
                </section>
            </a>
            <footer class="post-card-meta">
                <span class="reading-time">${moment.unix(hit.date).format('MMM D, YYYY')}</span>
            </footer>
        </article>`;
    };

    search.addWidget(
        instantsearch.widgets.hits({
            container: '#search-hits',
            templates: {
                empty: '',
                item: hitTemplate
            }
        })
    );

    // Starting the search
    search.start();
    //hide algolia defaults
    $('.ais-search-box--magnifier').hide();
    $('.ais-search-box--powered-by').hide();
    $('.ais-search-box--reset').hide();
    //hide search hits intially
    $('#search-hits').hide();

    function expand() {
        if ($('.ais-search-box--input').hasClass('open')) {
            $('.site-nav-left').css('visibility', 'visible');
            $('#search-hits').hide();
            $('#posts').show();
        } else {
            $('.site-nav-left').css('visibility', 'hidden');
            $('#search-hits').show();
            $('#posts').hide();
            $('.ais-search-box--input').focus();
        }
        $('.ais-search-box--input').toggleClass('open');
    }

    $('.search-icon').on('click', expand);
</script>
